.Mytenders-container {
    width: 100%;
    display: flex;
    justify-content: center;

}

.Mytenders-preview {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 50px;

}


.preview-properties {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.preview-property {
    padding: 10px;
}

.Mytenders-sort {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.Mytenders-content {
    width: 85%;
}

.Mytenders-sort-list {
    width: 80%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;


}

.sort-property {
    padding: 10px;
    display: flex;

    align-items: center;

}