.AdvancedSearch-container {
    width: 100%;
    display: flex;
    justify-content: center;

}

.AdvancedSearch-content {
    width: 80%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
}

.AdvancedSearch-inputForm {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    margin: 10px;
    display: flex;
    align-items: center;
    text-wrap: nowrap;
    padding-bottom: 10px;
}

.AdvancedSearch-input {
    width: 80%;
    height: 35px;
    padding: 7px;
    border:1px solid #D6D6D6
}

.AdvancedSearch-form {
    width: 100%;
    background-color: white;
    padding: 18px;
    height: fit-content;
    margin: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    border-radius: 3px;
}

.AdvancedSearch-inputname {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    text-align: center;
}


